.jumbo {
	background: #a39185 url('../img/Halo_Double-Truck.png') top center no-repeat;
	background-size: 100%;
	position: relative;
	width: 100%;
	color: #FFF;
	.content {
		background: #444;
		font-size: 8px;
		top: inherit;
		bottom: 0;
		width: 100%;
		right: 0;
		padding: 30px;
		text-align: center;
		transform: none;
		text-transform: uppercase;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
		position: absolute;
		.h1 {
			font-size: 32px;
			font-weight: 700;
			margin-top: .2em;
			margin-bottom: .2em;
			line-height: 1;
		}
		.h3 {
			margin-top: .2em;
			margin-bottom: .2em;
			font-size: 18px;
		}
		.btn-lg.btn-default {
			padding: .5em 1.5em;
			text-shadow: none;
			font-size: 12px;
		}
	}
	@media (min-width:680px) {
		.content {
			.h1 {
				font-size: 40px;
			}
		}
	}
	@media (min-width:768px) {
		.content {
			font-size: 14px;
			.h1 {
				font-size: 50px;
			}
			.btn-lg.btn-default {
				font-size: 18px;
			}
		}
	}
	@media (min-width:620px) {
		background-image: url('../img/Halo_Double-Truck2.png');
		background-position: center center;
		.content {
			top: 50%;
			bottom: auto;
			width: 45%;
			text-align: left;
			transform: translateY(-50%);
			background: none;
		}
	}
	@media (min-width:1000px) {
		.content {
			.h1 {
				font-size: 65px;
			}
		}
	}
	@media (min-width:1300px) {
		.content {
			.h1 {
				font-size: 72px;
			}
		}
	}
}

.jumbo:before {
	content: "";
	display: block;
	padding-top: 140%; 	/* initial ratio of 1:1*/
	@media (min-width:400px) {
		padding-top: 120%;
	}
	@media (min-width:540px) {
		padding-top: 110%;
	}
	@media (min-width:620px) {
		padding-top: 40%;
	}
}

.stripe {
	background: #333;
	text-align: center;
	color: #ccc;
	padding: 15px;
	font-family: $font-family-serif;
	p {
		line-height: 1.5em;
		&:hover {
			color: #eee;
		}
	}
	i {
		padding-right: 15px;
		color: #aaa;
		vertical-align: middle;
	}
}

.fresh {
	background: #A5842F; // GOLD-LIKE
	text-align: center;
	text-transform: uppercase;
	width: auto;
	margin: 20px;
	color: #fff;
	padding: 10px;
	position: relative;
	.h3 {
		margin: 0;
		border: 1px dotted #fff;
		padding: 5px;
	}
}